.App {
  text-align: center;
  margin-top: 1rem;
}

.MuiContainer-root {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.MuiBox-root {
  background-color: rgb(199, 20, 196);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  line-height: 1.75;
  padding: 6px 16px;
}

.MuiDivider-root {
  width: 100%;
  margin : 0.5rem !important;
}

img {
  height : 6rem;
  width : auto;
  margin : 0.5rem;
}

.result, .history {
  margin: 0.5rem;
}
