.App {
  text-align: center;
  margin-top: 20px;
}

.MuiBox-root {
  background-color: #1976d2;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  line-height: 1.75;
  padding: 6px 16px;
}

img {
  height : 100px;
  width : auto;
}

.MuiInputBase-root {
  margin-bottom: 0.5rem;
}

.result, .historic {
  margin: 0.5rem;
}
